.Center{
	width: 1000px;
	margin-left:auto;
	margin-right: auto;
}

.clearfix:after{
    content: "";
    display: block;
    clear:both;
}
.clerfix{
    zoom: 1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.hide{
    display: none;
}
.show{
    display: block;
}
@keyframes anshow {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes anhide {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
     opacity: 0;
    }
}

li{

    list-style: none;
}
html{
    font-family: "HanHei SC", "PingFang SC", "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif;
}
a{
    text-decoration: none;
}